@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply noselect bg-background text-foreground;
  }
}

@layer utilities {
  .grid-rows-screen {
    grid-template-rows: auto auto 1fr;
  }

  .grid-board {
    grid-template-columns: repeat(19, minmax(0, 1fr));
    grid-template-rows: repeat(19, minmax(0, 1fr));
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

  .select {
    -webkit-touch-callout: default; /* iOS Safari */
    -webkit-user-select: default; /* Safari */
    -khtml-user-select: default; /* Konqueror HTML */
    -moz-user-select: default; /* Old versions of Firefox */
    -ms-user-select: default; /* Internet Explorer/Edge */
    user-select: default; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }
}